<a class="text-lg font-bold" target="_blank" href=<%="#{project.project_url}"%>>
    <%= project.title %>
</a>
<p class="text-sm font-semibold">
    <%= project.tech_stack %>
</p>
<div class="whitespace-pre-line">
    <%= project.description %>
</div>
